#GameTable{
  width:100%;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;

}
th{

}
tr{
  //display:table-row;
}
td{
  //display:table-cell;
  width:10px;
  height:10px;
}

.dead{
  background-color: #fff;
}

.alive{
  background-color: #000;
}
